<!DOCTYPE html>
<html lang='en'>
{% load static %}

<head>
    <meta charset='UFT-8'>
    <title>Ticketing Project</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>

<body>
    <h1>Welcome to the Ticketing site</h1>
    <a href="/submit">Submit a Ticket</a>
    <a href="/tickets">View a Ticket</a>
    <script src="{% static 'index.js' %}"></script>
</body>

</html>