<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset='UFT-8'>
        <title>submit</title>
    </head>
    <body>
        <h1>Submit a Ticket</h1>
        <from action = "/submit" method = "post">
            {% csrf_token %}
            <input type = "text" name = "username" placeholder="user name"><br/>
            <textarea placeholder ="Body" name= "body"></textarea><br/>
            <button type ="submit" value = "submit">Submit</button>
        </from>
        
    </body>
    </html>