<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UFT-8'>
    <title>Ticket</title>
</head>

<body>
    <h1>view a Ticket!</h1>
    {% for ticket in tickets %}
    {% autoescape off %}
    {% if ticket.submitter == 'Test User' %}
    <div>Submitter: {{ticket.submitter | escape}}, created_at: {{ticket.created_at}}</div>
    <div>Body: {{ticket.body | escape}}</div>
    {% else %}
    <div style="color: purple">Submitter: {{ticket.submitter}}, created_at: {{ticket.created_at}}</div>
    {% endif %}
    {% endautoescape %}
    <a href="{% url 'ticket' ticket.pk %}">View this ticket</a>
    <hr>
    {% endfor %}
</body>

</html>