<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UFT-8'>
    <title>Ticket {{ticket.pk}}</title>
</head>

<body>
    you are viewing a ticket submitted by {{ticket.submitter}}:
    <p>{{ticket.body}}</p>
    <a href="{% url 'home' %}">Home</a>
</body>

</html>